<div class="fm-background" rid="{{id}}">
	<div class="fm-title">背景</div>
	<div class="fm-row">
		<div class="editImgBlock">
			<div class="editImg"></div>
		</div>
	</div>
	<div class="fm-row">
		<div class="col-md-4">
			<div class="bgcolor" title="背景颜色">
				<i class="iconfont icon-background"></i>
				<div id="color"></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="btn btn-info btn-file">
				<span>添加</span>
				<input class="bgBtn" type="file" accept="image/png,image/jpeg,image/gif">
			</div>
		</div>
		<div class="col-md-4">
			<a class="btn btn-danger delBgBtn">删除</a>
		</div>
	</div>
	<div class="fm-row">
		提示：<br>
		1、建议图片尺寸：640×<span id="screenH">1008</span>px；<br>
		<br>
		2、图片大小不能超过500K（支持格式：jpg、jpeg、png、gif）；<br>
		<br>
		3. 上传图片的重要信息请尽量保持在虚线框内，以免展示不全
	</div>
</div>
