<div class="fm-form" rid="{{id}}">
	<div class="fm-title">名称</div>
	<ul class="fm-nav nav nav-pills nav-justified">
		<li class="active"><a class="e-tabs" href="#eContent">组件内容</a></li>
		<li><a class="e-tabs" href="#eStype">组件样式</a></li> 
	</ul>

	<div class="tab-content clearfix">
		<!-- 组件内容 -->
		<div class="tab-pane fade active in" id="eContent">
			<div class="fm-row"><!-- 行内容 --></div>
		<!-- 组件样式 -->
		<div class="tab-pane fade" id="eStype">
			<div class="fm-row"><!-- 行内容 --></div>
		</div>
	</div>

</div>