<div class="fm-img" rid="{{id}}">
	<div class="fm-title">图片</div>
	<div class="fm-row">
		<div class="editImg"></div>
	</div>
	<div class="fm-row">
		<div class="col-md-6 text-right">
			<div class="btn btn-info btn-file">
				<span>添加</span>
				<input class="replaceBtn" type="file" accept="image/png,image/jpeg,image/gif">
			</div>
		</div>
		<div class="col-md-6 text-left">
			<a class="btn btn-danger delBtn">删除</a>
		</div>
	</div>
	<div class="fm-row">
		提示：<br />
		1、建议图片宽度在320至640像素之间；<br />
		<br />
		2、图片大小不能超过500K（支持格式：jpg、jpeg、png、gif）；<br />
		<br />
		3、按住shift鼠标拖动图片边框进行等比例缩放<br />
		<br />
		4、为了更好匹配不同尺寸手机屏幕，请尽量不要在边缘处放置图片元素。
	</div>
</div>
