<div class="fm-text" rid="{{id}}">
	<div class="fm-title">文字</div>
	<div class="row">
		<div class="col-md-11">
			<div class="font flat" title="文字颜色">
				<i class="iconfont icon-word-colour"></i>
				<div id="color"></div>
			</div>
			<select class="fm-control font txtfz" title="文字大小">
				<option value="12px">12px</option>
				<option value="14px">14px</option>
				<option value="16px">16px</option>
				<option value="20px">20px</option>
				<option value="24px">24px</option>
				<option value="28px">28px</option>
				<option value="32px">32px</option>
				<option value="36px">36px</option>
				<option value="40px">40px</option>
				<option value="44px">44px</option>
				<option value="48px">48px</option>
				<option value="52px">52px</option>
				<option value="56px">56px</option>
				<option value="60px">60px</option>
				<option value="64px">64px</option>
			</select>
			<div data-class="bolder" class="font" title="粗体"><i class="iconfont icon-bold"></i></div>
			<div data-class="italic" class="font" title="斜体"><i class="iconfont icon-italic"></i></div>
			<div data-class="underline" class="font" title="下划线"><i class="iconfont icon-underline"></i></div>
			<div data-classgroup="text-left" class="font" title="居左"><i class="iconfont icon-align-left"></i></div>
			<div data-classgroup="text-center" class="font" title="居中"><i class="iconfont icon-align-center"></i></div>
			<div data-classgroup="text-right" class="font" title="居右"><i class="iconfont icon-align-right"></i></div>
		</div>
	</div>
	<textarea class="fm-control txta" rows="7" maxlength="500"></textarea>
	<div class="fm-row">
		<br />
		提示：<br />
		1、按住shift鼠标拖动文本区域边框进行等比例缩放<br />
		<br />
		2、为了更好匹配不同尺寸手机屏幕，请尽量不要在边缘处放置文字元素。
	</div>
</div>
